<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img class="img-responsive" width="32" hspace="20" src="assets/images/tbwb-logo.jpg">
        <span class="fs-4">Licentie Manager Dashboard</span>
      </a>

      <!--
      <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" routerLink="/license" routerLinkActive="nav-link active" ariaCurrentWhenActive="page">Licenses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="nav-link active" ariaCurrentWhenActive="page">Login</a>
        </li>
      </ul>
      -->
      
    </header>
  </div>