/Proof of Concepts/2FA/2FADemoApp/2FADemo/obj
/Proof of Concepts/2FA/2FADemoApp/.vs
/Proof of Concepts/2FA/2FADemoApp/2FADemo/wwwroot/lib
/Proof of Concepts/Certificate/CertificateDemo/.vs
/Proof of Concepts/Certificate/CertificateDemo/CertificateDemo/bin
/Proof of Concepts/Certificate/CertificateDemo/CertificateDemo/obj
/Proof of Concepts/Certificate/PublicAndPrivateKey/PrivateKey/.vs
/Proof of Concepts/Certificate/PublicAndPrivateKey/PrivateKey/bin
/Proof of Concepts/Certificate/PublicAndPrivateKey/PrivateKey/obj
/Proof of Concepts/Certificate/PublicAndPrivateKey/PublicKey/bin
/Proof of Concepts/Certificate/PublicAndPrivateKey/PublicKey/obj
/Proof of Concepts/Certificate/SignAndVerify/Sign/CertificateSigner/.vs
/Proof of Concepts/Certificate/SignAndVerify/Sign/CertificateSigner/bin
/Proof of Concepts/Certificate/SignAndVerify/Sign/CertificateSigner/obj
/Proof of Concepts/Certificate/SignAndVerify/Verify/CertificateVerifier/.vs
/Proof of Concepts/Certificate/SignAndVerify/Verify/CertificateVerifier/bin
/Proof of Concepts/Certificate/SignAndVerify/Verify/CertificateVerifier/obj
/Proof of Concepts/EmailService/EmailDemoApp/.vs
/Proof of Concepts/EmailService/EmailDemoApp/EmailDemo/bin
/Proof of Concepts/EmailService/EmailDemoApp/EmailDemo/obj
/Proof of Concepts/Certificate/PublicAndPrivateKey/PublicKey/.vs
/Eindproduct/LicenseDashboard/license-dashboard/.vscode
/Eindproduct/LicenseManager/.vs
/Eindproduct/LicenseManager/LicenseManager/bin
/Eindproduct/LicenseManager/LicenseManager/obj
/Eindproduct/LicenseService/.vs
/Eindproduct/LicenseService/LicenseService.ServiceTests/bin
/Eindproduct/LicenseService/LicenseService.ServiceTests/obj
/Eindproduct/LicenseService/LicenseService.UnitTests/bin
/Eindproduct/LicenseService/LicenseService.UnitTests/obj
/Eindproduct/LicenseService/LicenseService/.vs
/Eindproduct/LicenseService/LicenseService/bin
/Eindproduct/LicenseService/LicenseService/obj
